@model FundApp.Models.Complaint

@{
    ViewBag.Title = "CreateComplaint";
}

<h2 class="title">Создать жалобу</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.Title, new { @class="form-control", placeholder="Название..."})
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field form-item">
            @Html.TextAreaFor(model => model.Description, new { @class="form-control", placeholder="Описание..."})
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.AppearingDate)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.AppearingDate, new { @class="form-control", placeholder="Дата (dd.mm.yyyy)..."})
            @Html.ValidationMessageFor(model => model.AppearingDate)
        </div>

        <p>
            <input type="submit" class="btn btn-default form-item" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "UserRoom", null, new {@class="form-item btn btn-default"})
</div>

