@model FundApp.Models.EcologicalProblem

@{
    ViewBag.Title = "CreateProblem";
}

<h2 class="title">Создание проблемы</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        
        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.Title, new { @class="form-control", placeholder="Название..."})
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.Description, new { @class="form-control", placeholder="Описание..."})
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.RequiredSum)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.RequiredSum, new { @class="form-control", placeholder="Сумма..."})
            @Html.ValidationMessageFor(model => model.RequiredSum)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.IsSolved)
        </div>
        <div class="editor-field form-item">
            @Html.EditorFor(model => model.IsSolved)
            @Html.ValidationMessageFor(model => model.IsSolved)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.PublicationDate)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.PublicationDate, new { @class = "form-control", placeholder = "Дата (dd.mm.yyyy)..." })
            @Html.ValidationMessageFor(model => model.PublicationDate)
        </div>
        
        @Html.Hidden("complaintID", (object)ViewBag.complaintID)

        <p>
            <input type="submit" class="form-item btn btn-default" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "Complaints", null, new { @class="form-item btn btn-default"})
</div>
