<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myscripts/gallery.js")"></script>
    
    <link href="@Url.Content("~/Styles/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Styles/style.css")" rel="stylesheet" type="text/css"/>
    
    <title></title>
</head>
<body>
    <div class="wrapper-top-part">
        <div class="top-gallery">
        
            <div class="gallery-left-arrow">
            </div>

            <div class="gallery-right-arrow">
            </div>
   
            <div class="top-gallery-item" style="background:url('../Images/gallery/pictures/picture_1_compr.jpg') no-repeat">
                <div class="gallery-information">
                    <h1 class="gal-inf-h1">
                        Экологическая проблема №1
                    </h1>
                    <p class="gal-inf-p">
                      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p class="gal-inf-p">
                      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <div class="gal-inf-btn">
                         <a href="#" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-hand-up"></span> Default text here</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="top-gallery-item" style="background:url('../Images/gallery/pictures/picture_2_compr.jpg') no-repeat">
                <div class="gallery-information">
                    <h1 class="gal-inf-h1">
                        Экологическая проблема №2
                    </h1>
                    <p class="gal-inf-p">
                      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <div class="gal-inf-btn">
                         <a href="#" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-hand-up"></span> Default text here</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>            

            <div class="top-gallery-item" style="background:url('../Images/gallery/pictures/picture_3_compr.jpg') no-repeat">
                <div class="gallery-information">
                    <h1 class="gal-inf-h1">
                        Экологическая проблема №3
                    </h1>
                    <p class="gal-inf-p">
                      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <div class="gal-inf-btn">
                         <a href="#" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-hand-up"></span> Default text here</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>  

           <div class="top-gallery-item" style="background:url('../Images/gallery/pictures/picture_4_compr.jpg') no-repeat">
                <div class="gallery-information">
                    <h1 class="gal-inf-h1">
                        Экологическая проблема №4
                    </h1>
                    <p class="gal-inf-p">
                      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <div class="gal-inf-btn">
                         <a href="#" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-hand-up"></span> Default text here</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>  
            <div class="clear"></div>                   
         </div>
               
         <div class="gallery-switchers-wrapper">
             <div class="gallery-switchers">
                 <div class="gal-sw gal-sw-current">
                     Новость 1
                 </div>
                 <div class="gal-sw">
                     Новость 2
                 </div>
                 <div class="gal-sw">
                     Новость 3
                 </div>
                 <div class="gal-sw">
                     Новость 4
                 </div>
             </div>
         </div>
        
         <div class="menu">
                <header>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="login">
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-default">Войти</button>
                        <button type="submit" class="btn btn-default">Регистрация</button>
                     </form>
                </header>

                <div class="clear">
                </div>

                <nav>
                    <ul class="nav-ul">
                        <li class="nav-li-logo">
                            <img src="~/Images/logos/logo_mini.png"/>
                        </li>
                        <li class="nav-li">Главная</li>
                        <li class="nav-li">Партнеры</li>
                        <li class="nav-li">Экологические проблемы</li>
                        <li class="nav-li">Просвящение</li>
                        <li class="nav-li">Достижения</li>
                        <li class="nav-li">Кабинет</li>
                    </ul>
                    <div class="bottom-stripe">
                    </div>
                </nav>    
         </div>
    </div>

    <div class="clear"></div>

    <div class="main-part">
        <div class="fund-preview">
            <h2>
                Наши сотрудники
            </h2>    
            <div class="fund-preview-item">
                <img src="~/Images/preview/ecologist_1.jpg">
                <p>
                    Эколог 1. Это специалист в своей области. Причем весьма неплохой. Это специалист в своей области. Причем весьма неплохой.
                     <a class="rank-link" href="#">Подробнее...</a>
                </p>
               
            </div>
            <div class="fund-preview-item">
                <img src="~/Images/preview/ecologist_2.jpg">
                <p>
                    Эколог 2. Это специалист в своей области. Причем весьма неплохой. Это специалист в своей области. Причем весьма неплохой.
                    <a class="rank-link" href="#">Подробнее...</a>
                </p>
                
            </div>
            <div class="fund-preview-item">
                <img src="~/Images/preview/ecologist_3.jpg">
                <p>
                    Эколог 3. Это специалист в своей области. Причем весьма неплохой. Это специалист в своей области. Причем весьма неплохой.
                    <a class="rank-link" href="#">Подробнее...</a>
                </p>
                
            </div>
        </div>

        <div class="clear">
        </div>

        <div class="inf-left-column">
            <h2>Сводка</h2>
            
            <div class="news-item">
                Это текст новости Это текст новости Это текст новости Это текст новости Это текст новости <a class="rank-link" href="#">Подробнее...</a>
            </div>
            <div class="news-item">
                Это текст новости Это текст новости Это текст новости Это текст новости Это текст новости <a class="rank-link" href="#">Подробнее...</a>
            </div>
            <div class="news-item">
                Это текст новости Это текст новости Это текст новости Это текст новости Это текст новости <a class="rank-link" href="#">Подробнее...</a>
            </div>
            <div class="news-item">
                Это текст новости Это текст новости Это текст новости Это текст новости Это текст новости <a class="rank-link" href="#">Подробнее...</a>
            </div>
            <div class="news-item">
                Это текст новости Это текст новости Это текст новости Это текст новости Это текст новости <a class="rank-link" href="#">Подробнее...</a>
            </div>
            <div class="news-item">
                Это текст новости Это текст новости Это текст новости Это текст новости Это текст новости <a class="rank-link" href="#">Подробнее...</a>
            </div>
        </div>

        <div class="inf-right-column">
            <h2>
                Об экологическом фонде "Слон"
            </h2>
            <img class="image-left" src="~/Images/logos/logo_medium.png">
            <p>
                Экологический фонд является внебюджетным фондом, средства которого
                направляются на решение экологических проблем окружающей среды.
                Учредителями экологических фондов являются краевые, областные и
                республиканские комитеты по экологии и природоведению. Организации, как
                правило,  являются  самостоятельными  юридическими  лицами,  имеют
                собственный баланс. Основными задачами работы экологических фондов
                являются проведение мероприятий и разработка программ по следующим
                направлениям:
            </p>
            <ul>
                <li>
                    создание информационной системы сбора, хранения, систематизации и
                    обработки экологической информации;
                </li>
                <li>    
                    проведение мероприятий с целью решения экологических проблем;
                </li>
                <li>    
                    ведение базы сбора информации об экологических нарушениях.
                    Нарушение может быть как со стороны организации (сброс химически
                    опасных веществ заводом в реку), так и со стороны физического лица
                    (браконьерство);
                </li>
                <li>    
                    организация экологического образования и воспитания, пропаганда экологических знаний.
                </li>
            </ul>
            <p>
                Экологический  фонд  является  неотъемлемой  частью  механизма
                регулирования природопользования и образуется за счет поступлений средств
                от предприятий и физических лиц нарушителей. Таким образом, в основном
                денежный баланс фонда формируется из следующих платежей:
            </p>
            <ul>
                <li>
                    штрафы за загрязнение окружающей среды;
                </li>
                <li>
                    сверхнормативное использование природных ресурсов;
                </li>
                <li>
                    штрафы за нарушение природоохранного законодательства.
                </li>
            </ul>
        </div>
        @RenderBody()
    </div>

    <div class="clear">
    </div>

    <div class="footer-wrapper">
        <footer>
            <div class="footer-left-part">
                <img src="~/Images/footer/logo_footer.png">
                <p>
                    ©copyright
                </p>
            </div>
            <div class="footer-right-part">
                <p>
                    Защитим! Поможем природе вместе!
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
