@model FundApp.Models.Partner

@{
    ViewBag.Title = "SignUpFormPartner";
}

@*Регистрационная форма*@
@using (Html.BeginForm("SignUpFormPartner", "Registration", FormMethod.Post, null))
{
    <div class="form-elements-group">
        <h2 class="registration-caption">
            Заполните предложенную регистрационную форму (для партнера)
        </h2>
        <div class="form-element">
            <div class="form-element-title">
                Введите ваше имя:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.Name, new { @class = "form-control", placeholder = "Имя" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Name)
            </div>
        </div>
    
        <div class="clear"></div>
    
        <div class="form-element">
            <div class="form-element-title">
                Введите вашу фамилию:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.Surname, new { @class = "form-control", placeholder = "Фамилия" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Surname)
            </div>
        </div>
    
        <div class="clear"></div>
    
        <div class="form-element">
            <div class="form-element-title">
                Введите ваше отчество:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n =>n.FatherName, new { @class = "form-control", placeholder = "Отчество" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.FatherName)
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Укажите ваш пол:
            </div>
            <div class="form-element-self">
                @Html.DropDownListFor(n => n.Sex, new [] {
                                   new SelectListItem() {Text = "Мужской", Selected = true, Value = bool.TrueString},
                                   new SelectListItem() {Text = "Женский", Selected = false, Value = bool.FalseString}
                                  })    
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Sex)
            </div>
        </div>
        
        <div class="form-element">
            <div class="form-element-title">
                Введите вашу дату рождения:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.BirthDate, new { @class = "form-control", placeholder = "Дата рождения (00.00.0000)" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.BirthDate)
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Придумайте логин:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.Login, new { @class = "form-control", placeholder = "Логин" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Login)
                @if (ViewBag.login != null)
                {
                    <span>Логин уже существует</span>
                }
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Придумайте пароль:
            </div>
            <div class="form-element-self">
                @Html.PasswordFor(n => n.Password, new { @class = "form-control", placeholder = "Пароль" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Password)
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Введите адрес электронной почты:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.Email, new { @class = "form-control", placeholder = "Адрес электронной почты" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Email)
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Введите название компании:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.CompanyName, new { @class = "form-control", placeholder = "Название компании" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.CompanyName)
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Введите адрес компании:
            </div>
            <div class="form-element-self">
                @Html.TextBoxFor(n => n.Address, new { @class = "form-control", placeholder = "Адрес компании" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Address)
            </div>
        </div>

        <div class="form-element">
            <div class="form-element-title">
                Введите описание компании:
            </div>
            <div class="form-element-self">
                @Html.TextAreaFor(n => n.Description, new { @class = "form-control", placeholder = "Расскажите о компании" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Description)
            </div>
        </div>

        <div class="clear"></div>

        <div class="form-element">
            <div class="form-element-title">
                Введите причину подачи заявки:
            </div>
            <div class="form-element-self">
                @Html.TextAreaFor(n => n.Reason, new { @class = "form-control", placeholder = "Причина" })
            </div>
            <div class="form-element-message">
                @Html.ValidationMessageFor(n => n.Description)
            </div>
        </div>
        @Html.HiddenFor(n => n.Secretary)
        <div class="clear"></div>
    </div>
    
    <button type="submit" class="registration-submit btn btn-default">Подать заявку</button>
}
