@model FundApp.Models.ViewModels.CouncilsProblems

@{
    ViewBag.Title = "Councils";
}


<h2 class="title">Экологические советы</h2>

@if (Model.listCouncils.Count() != 0)
{
    <table class="table table-striped table-condensed table-hover data-table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата проведения</th>
                <th>Проблема</th>
                <th>Результат</th>
                <th>Число специалистов</th>
                <th>Удаление</th>
                <th>Редактирование</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.listCouncils)
            {
                <tr>
                    <td>
                        @c.Title
                    </td>
                    <td>
                        @c.Description
                    </td>
                    <td>
                        @c.AssignmentDate.ToShortDateString()
                    </td>
                    <td>
                        @c.Problem.Title
                    </td>
                    <td>
                        @if (c.CounsilResult)
                        {
                            <span>Решена</span>                        
                        }
                        else
                        {
                            <span>Не решена</span>                        
                        }
                    </td>
                    <td>
                        @c.Ecologists.Count
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "DeleteCouncil", "RoomSecretary", new { councilID = c.CouncilID }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditCouncil", "RoomSecretary", new { councilID = c.CouncilID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        В настоящее не намечается ни одного совета.
    </p>
}

<h2 class="title">Список проблем</h2>

<div class="search-block">
     @using (Html.BeginForm("GetCrucialProblems", "RoomSecretary", FormMethod.Get, new { @class = "navbar-form navbar-right" }))
     {
        @Html.TextBox("daysRange", null, new { @class = "form-control", placeholder = "Введите число дней..." })
        <button type="submit" class="btn btn-default">Запрос</button>
     }
</div>

<div class="clear">
</div>

@if (Model.listProblems.Count() != 0)
{
    <table class="table table-striped table-condensed table-hover data-table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата публикации</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.listProblems)
            {
                <tr>
                    <td>
                        @c.Title
                    </td>
                    <td>
                        @c.Description
                    </td>
                    <td>
                        @c.PublicationDate.ToShortDateString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        Ваш запрос не дал результатов.
    </p>
}


@*Отображаем в том случае если есть нерассмотренные проблемы*@
@if(ViewBag.showCreateLink) {
    @Html.ActionLink("Создать совет", "CreateCouncil", null, new { @class="btn btn-default"})
} else {
    <p>
        Все проблемы уже рассматриваются на советах! В создании нового нет необходимости.
    </p>
}
