@model FundApp.Models.OrganisationDeptor

@{
    ViewBag.Title = "CreateDebtor";
}

<h2 class="title">Создать должника</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.Name, new { @class="form-control", placeholder="ФИО/Название организации..."})
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field form-item">
            @Html.TextAreaFor(model => model.Reason, new { @class="form-control", placeholder="Причина..."})
            @Html.ValidationMessageFor(model => model.Reason)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.FineAmount)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.FineAmount, new { @class="form-control", placeholder="Сумма штрафа..."})
            @Html.ValidationMessageFor(model => model.FineAmount)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.PayTime)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.PayTime, new { @class="form-control", placeholder="Время уплаты..."})
            @Html.ValidationMessageFor(model => model.PayTime)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.IsPayed)
        </div>
        <div class="editor-field form-item">
            @Html.EditorFor(model => model.IsPayed)
            @Html.ValidationMessageFor(model => model.IsPayed)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.Email, new { @class="form-control", placeholder="Адрес электронной почты..."})
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        @Html.Hidden("complaintID", (object)ViewBag.complaintID, null)

        <p>
            <input type="submit" class="btn btn-default form-item" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "Debtors", null, new { @class="form-item btn btn-default"})
</div>
