@model FundApp.Models.Council

@{
    ViewBag.Title = "CreateCouncil";
}

<h2 class="title">Создание совета</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.Title, new { @class="form-control", placeholder="Название..."})
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.AssignmentDate)
        </div>
        <div class="editor-field form-item">
            @Html.TextBoxFor(model => model.AssignmentDate, new { @class="form-control", placeholder="Дата проведения (dd.mm.yyyy)..."})
            @Html.ValidationMessageFor(model => model.AssignmentDate)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.CounsilResult)
        </div>
        <div class="editor-field form-item">
            @Html.EditorFor(model => model.CounsilResult)
            @Html.ValidationMessageFor(model => model.CounsilResult)
        </div>

        <div class="editor-label form-item form-item-title">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field form-item">
            @Html.TextAreaFor(model => model.Description, new { @class="form-control", placeholder="Описание..."})
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        
        <div class="editor-label form-item form-item-title">
            Проблема
        </div>
        <div class="editor-field form-item">
            @Html.DropDownList("problemID", (SelectListItem[])ViewBag.problems)  
        </div>

        <p>
            <input type="submit" class="form-item btn btn-default" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "Councils", null, new { @class="btn btn-default form-item"})
</div>
