@model IEnumerable<FundApp.Models.Partner>
@{
    ViewBag.Title = "Requests";
}

<h2 class="title">Заявки организаций партнеров</h2>

@if(Model.Count() != 0) {
    <table class="table table-striped table-condensed table-hover data-table table-bordered">
        <thead>
            <tr>
                <th>ФИО представителя</th>
                <th>Email</th>
                <th>Компания</th>
                <th>О компании</th>
                <th>Причина</th>
                <th>Удаление</th>
                <th>Принятие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Surname @r.Name @r.FatherName</td>
                    <td>@r.Email</td>
                    <td>@r.CompanyName</td>
                    <td>@r.Description</td>
                    <td>@r.Reason</td>
                    <td>@Html.ActionLink("Удалить", "DeleteRequest", "RoomSecretary", new { requestID = r.ID}, null)</td>
                    <td>@Html.ActionLink("Принять", "AcceptRequest", "RoomSecretary", new { requestID = r.ID}, null)</td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>
        В настоящее время заявок подано не было.
    </p>
}



