@model IEnumerable<FundApp.Models.Ecologist>

@{
    ViewBag.Title = "EcologistsPage";
}

<h2>Экологи нашего фонда</h2>

<div class="search-block">
     @using (Html.BeginForm("SearchEcologists", "Ecologists", FormMethod.Get, new { @class = "navbar-form navbar-right" }))
     {
        @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Поиск..." })
        <button type="submit" class="btn btn-default">Искать</button>
     }
</div>

<div class="clear">
</div>

@if(Model.Count() != 0) {
    <table class="table table-striped table-condensed table-hover data-table table-bordered">
        <thead>
            <tr>
                <th>ФИО</th>
                @if(Session["Role"] == "Administrator") {
                    <th>Дата рождения</th>
                }
                <th>Дата регистрации</th>
                <th>Email</th>
                <th>Область интересов</th>
                <th>Образование</th>
                <th>Регион базирования</th>
                <th>Публикации</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Surname @e.Name @e.FatherName</td>
                    @if(Session["Role"] == "Administrator") {
                        <td>@e.BirthDate.ToShortDateString()</td>
                    }
                    <td>@e.RegistrationDate.ToShortDateString()</td>
                    <td>@e.Email</td>
                    <td>@e.InterestsSphere</td>
                    <td>@e.Education</td>
                    <td>@e.DistrictLocation</td>
                    <td>
                        @try
                        {
                            if (e.EcologicalProblems != null && e.EcologicalProblems.Count == 0)
                            {
                            <span>Нет публикаций</span>
                            }
                            else
                            {
                                for (int i = 0; i < e.EcologicalProblems.Count; i++) {
                                    if(i != e.EcologicalProblems.Count - 1) { 
                                        <span>@e.EcologicalProblems.ElementAt(i).Title,</span>
                                    } else {
                                        <span>@e.EcologicalProblems.ElementAt(i).Title</span>
                                    }
                                }
                            }
                        }
                        catch { }
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>
        Извините, вашему запросу не соответствуют никакие данные.   
    </p>
}

    