@{
    ViewBag.Title = "AdministratorRoom";
}

<h2 class="title">Администраторская</h2>

<table class="choice-group">
    <tr>
        <td class="choice-item">
            <h2>Пользователи</h2>
            <p>
                В данном блоке администратору системы предлгается возможность управления данными пользователей системы
            </p>
            <p>
                Сейчас зарегистрированы:
            </p>
            <p>
                Взрослые - @ViewBag.adultsQuantity
            </p>
            <p>
                Дети - @ViewBag.childrenQuantity
            </p>
            @Html.ActionLink("Перейти в раздел...", "SystemUsers", "RoomAdministrator", new { @class = "btn btn-default"})
        </td>

        <td class="choice-item">
            <h2>
                Достижения и новости
            </h2>
            <p>
                В данном блоке администратору системы предлагается возможность добавления новостей о достижениях фонда
            </p>
            @Html.ActionLink("Перейти в раздел...", "SystemNewsCreation", "RoomAdministrator", new { @class = "btn btn-default"})
        </td>

        <td class="choice-item">
            <h2>
                Экологические секции
            </h2>
            <p>
                В данном блоке администратору системы предлагается возможность добавления новостей о достижениях фонда
            </p>
            @Html.ActionLink("Перейти в раздел...", "SystemSections", "RoomAdministrator", new { @class = "btn btn-default"})
        </td>
    </tr>
</table>

