@model FundApp.Models.ViewModels.AddAchievement

@{
    ViewBag.Title = "CreateNews";
}

<h2>CreateNews</h2>

@using (Html.BeginForm("CreateNews", "RoomAdministrator", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("ecologicalProblemID", (object)ViewBag.problemID)
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Achievement</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AchievementItem.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AchievementItem.Title)
            @Html.ValidationMessageFor(model => model.AchievementItem.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AchievementItem.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AchievementItem.Description)
            @Html.ValidationMessageFor(model => model.AchievementItem.Description)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ImageFile)
            @Html.TextBoxFor(model => model.ImageFile, new { type = "file" })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "SystemNewsCreation")
</div>
