@model FundApp.Models.ViewModels.AddAchievement

@{
    ViewBag.Title = "EditNews";
}

<h2>Редактировать новость</h2>

@using (Html.BeginForm("EditNews", "RoomAdministrator", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Achievement</legend>

        @Html.HiddenFor(model => model.AchievementItem.AchievementID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AchievementItem.Title)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.AchievementItem.Title)
            @Html.ValidationMessageFor(model => model.AchievementItem.Title)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AchievementItem.Description)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.AchievementItem.Description)
            @Html.ValidationMessageFor(model => model.AchievementItem.Description)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ImageFile)
            @Html.TextBoxFor(model => model.ImageFile, new { type = "file" })
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "SystemNewsCreation")
</div>

