@model IEnumerable<FundApp.Models.EcologicalProblem>

@{
    ViewBag.Title = "AddNews";
}

<h2 class="title">Создание новостей по решенным проблемам</h2>

<div class = "filtration-form">
    <p class ="filter-p">Фильтрация экологических проблем, согласно ходу их решения</p>
    @Html.ActionLink("Решенные", "SolvedProblemFilter", "RoomAdministrator", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Нерешенные", "UnsolvedProblemFilter", "RoomAdministrator", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Все", "SystemNewsCreation", "RoomAdministrator", null, new { @class = "btn btn-lg btn-default" })
</div>

@if (Model.Count() != 0)
{
    <table class="table table-striped table-condensed table-hover data-table table-bordered">
        <thead>
            <tr>
                <th>Проблема</th>
                <th>Состояние</th>
                <th>Запись о достижении</th>
                <th>Удаление записи</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Title</td>
                    <td>
                        @if (p.IsSolved)
                        {
                            <span>Решена</span>
                        }
                        else
                        {
                            <span>В разработке</span>                            
                        }
                    </td>

                    <td>
                        @if (p.Achievement == null)
                        {
                            @Html.ActionLink("Создать", "CreateNews", new { id = p.ProblemID })
                        }
                        else
                        {
                            @Html.ActionLink("Редактировать", "EditNews", new { id = p.ProblemID })
                        }
                    </td>
                    <td>
                        @if (p.Achievement != null)
                        {
                            @Html.ActionLink("Удалить", "DeleteNews", new { achievementID = p.Achievement.AchievementID} );                        
                        } else {
                            <span>-</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        Извините, вашему запросу не соответствуют никакие данные.   
    </p>
}


